[2022-01-18 15:53] rennokki opened #4 "[proposal] Use `illuminate/http` instead of the Guzzle client"
This package looks promising to implement API SDKs.

I was thinking about testing requests with this package - would make sense to use `illuminate/http` as it can be mocked internally without having to re-write mocks within this package.

[code]

I might as well submit a PR to make this change, but that would leave a lot of changes (perhaps). 🤔

[2022-01-18 16:18] Sammyjo20 commented on #4
Thanks for the suggestion, but I don't want Saloon to use the Http facade as  I was going to add the same testing functionality in the `sammyjo20/saloon-laravel` package using the service container. I really like how `illuminate/http` works for testing. In fact I will aim to build it exactly the same way, but only for the Laravel package of Saloon.

[2022-01-18 16:20] Sammyjo20 commented on #4
I already have a plan in my head on how I'm going to do it. The service container is super powerful - so when you call `Saloon::fake()` it will queue requests and then I'll use a custom Guzzle handler which checks if there are any queues responses not yet fulfilled and it will return them instead.

[2022-01-18 16:25] Sammyjo20 opened #5 "Saloon Testing/Mocking (Coming Soon!)"
Just wanted to open an issue here to let people know that I am currently working on a mocking system for Saloon. It's going to introduce two ways to mock in Saloon, one way would be the "Larvel" way - inspired by the wonderful testing that is provided by `Illuminate/Http`. The other way would require a bit more intervention but I hope would still be useful especially when writing SDKs.

### Larave

[2022-01-18 17:08] rennokki commented on #4
I'm going to close this issue then. I'll be happy to give feedback during the development. I'm already planning to use it for some packages at @renoki-co

[2022-01-18 17:08] #4 closed

[2022-01-18 23:25] alexcutts opened #6 "Merged URL not valid"
This is a great project - exactly what I needed to standardise our API connectivity as we use a lot of integrations. I realise this is a problem with the third party API I'm using not confirming to REST specifications but want to check if anything can be done.

We use an API which has the baseUrl format `api.xxx.com/v2`
Requests are then made to endpoints in the format `model=accounts&action=load`

[2022-01-19 06:08] Sammyjo20 commented on #6
Thanks for submitting this issue, really glad you like Saloon! This definitely sounds like a bit of a bug. Where I intended to always only have one trailing slash, it adds another. I believe a fix for this would be to not add any leading slash if it doesn’t exist already, but if one exists already - leave it in there.

If you are happy to submit a PR for this, that would be great - if not I’ll try

[2022-01-19 06:17] Sammyjo20 commented on #6
Actually thinking about this more - if I remove the logic that fixes trailing/leading slashes - it will become a breaking change as people will assume Saloon will fix their leading/trailing slashes (a problem that I have had before)

Maybe Saloon could introduce a new trait like “DoNotIncludeTrailingSlash” or something?

Alternatively, I can remove the logic where I add a trailing slash in the Man

[2022-01-19 07:34] Sammyjo20 commented on #6
Sorry for lots of comments! To be honest, I think a "DoNotIncludeTrailingSlash" would do the trick because that's the only thing that you can't control at the moment with how Saloon builds URLs. If I added that trait - you would be responsible to add the trailing slash but you could do the rest in the request endpoint.

[2022-01-20 17:45] simonhamp opened #7 "Nice job! And FR: Swappable PSR-7-compliant HTTP client library"
I came here to say great work on putting this together. It looks good and it's really nicely organised. I've only been reading code and haven't had a chance to try it out yet, but I feel like this could become a great package to make integrating with lots of APIs easier!

One thing I picked up on pretty quickly though is how dependent it is on Guzzle (I love Guzzle btw, so it's fine for me). I kno

[2022-01-20 17:50] simonhamp opened #8 "License"
I can see you've got the LICENSE file in `.github/`, but it might be worth setting it somewhere more public.

I think if it's in the root of the project, GitHub can pick it up and pop a link to it in the sidebar

<img width="377" alt="Screenshot 2022-01-20 at 17 48 56" src="https://user-images.githubusercontent.com/31628/150393937-cfe2117d-2ad2-48bf-996e-ed1ed04a6365.png">

[2022-01-20 19:22] Sammyjo20 commented on #6
This should now be fixed in v0.3.1. I've made it so if you set the endpoint in your request to be an empty string, Saloon won't append the trailing slash. Thanks for submitting this issue!

[2022-01-20 19:22] #6 closed

[2022-01-20 19:34] Sammyjo20 commented on #8
Thanks for spotting this! I've resolved this in #9

[2022-01-20 19:34] #8 closed

[2022-01-21 23:19] Sammyjo20 commented on #7
Hi @simonhamp, thank you for your comments, I really appreciate it!

I'll start off with saying I really like this idea. I don't know a huge amount about PSR-7 (I think is the right PSR) but I do know that Guzzle follows it quite well. I'd like in the future to be able to make swappable clients for Saloon so you can easily build your own Saloon clients/adapters that it uses under the hood.

The ma

[2022-01-21 23:22] michabbb opened #10 "retry in case of errors"
first, thank you for this very nice package, I really like the idea and your concept. the very first question that comes into my mind is: how do I implement a "retry x times with x seconds sleep between" with this? would it make sense to implement a interceptor here or is this something that should be implemented outside of this package? thank for your advice 🙏

[2022-01-21 23:29] Sammyjo20 commented on #10
I found this online which could help, you can pass this middleware straight into the "addHandler" method in Saloon:

https://github.com/caseyamcl/guzzle_retry_middleware

[2022-01-22 00:02] Wulfheart opened #11 "Add casting to DTO"
This package looks really nice.
Currently I am using https://github.com/spatie/data-transfer-object to cast the json response to a class and vice versa.
Do you know any good way how to integrate libraries like this into the `Request` classes?

[2022-01-22 00:06] Sammyjo20 commented on #11
Thanks @Wulfheart!

Maybe if Saloon integrated [the macroable trait](https://github.com/spatie/macroable) by Spatie on the Response, you would be able to add your own method within a response interceptor?

[2022-01-22 08:45] michabbb commented on #10
this is amazing, thanks a lot for letting me know 🙏👍💪

[2022-01-22 08:45] #10 closed

[2022-01-22 10:05] simonhamp commented on #7
Totally agree! Only build it if/when it's needed.

Regardless, I'm looking forward to using this package soon

[2022-01-22 11:01] Sammyjo20 commented on #7
Sounds great! I’ll happily keep this issue open for now so others can know it’s on my mind.

Hope you have fun with it!

[2022-01-23 10:14] lao9s commented on #5
Awesome 👍 That's what I'm looking for.

[2022-01-23 11:30] Sammyjo20 commented on #5
@lao9s It's coming very soon, just making my final polishes on it at the moment.

[2022-01-23 19:21] Sammyjo20 commented on #11
I have added the `Macroable` trait to the response so you can easily add your own methods to extend it.

[2022-01-23 20:41] #5 closed

[2022-01-26 22:12] Wulfheart commented on #11
Hey,
sorry for my late reply. I don't think that the `Macroable` trait is the right way forward with this issue.
For your consideration:
What about a method in the request like `responseToDto($response)`? I know that it is not in the response itself but way better than a macro in my opinion. However this would require the docblocks to be generic for the correct typehinting in the `$response->toDTO

[2022-01-26 23:52] yurirnascimento commented on #11
Olá @Wulfheart,

I also use the Spatie/Data-Transfer-Object package, a way that this can be solved is directly in your DTO, for example:

## The DTO

[code]

## Action that use TestDTO

[code]

## Ways to use

[code]

Using this way, in my opinion, it has a better separation, and the DTO can implement other ways to initialize itself.

Sorry for the offtopic, I just don't think Saloon would need to

[2022-01-27 04:04] alexleeelkins opened #15 "FR: Circuit Breaker Plugin"
Hello, love the package!

I think it could be beneficial to have a sensible default (but configurable) circuit breaker pattern plugin available to use (opt in only). A circuit breaker pattern is good for use with external API integrations for multiple reasons: alerts when an external API reaches a failure threshold, preventing subsequent requests for a time period if the external API is known to b

[2022-01-27 06:20] Wulfheart commented on #11
Hey @yurirnascimento,

thanks for your thorough overview.
However, I think, that a resolution to a DTO should still belong to Saloon as it is about integrating an API and if I write an integration for many devs I want to make the response easily accessible for all the other devs that work with that integration and make it as convenient as possible for them to work with it. Therefore the cognitive

[2022-01-27 07:35] Sammyjo20 commented on #11
Hey @Wulfheart

That sounds interesting - however I’m worried about introducing a new dependency into Saloon.

I don’t really know much about DTOs. Would I have a Saloon DTO, or should I allow you to pass in your own DTO into Saloon’s request?

Again, this could be a method added to the connector and you will still be able to access it within all requests.

E.g: $request->sendResponseToDTO($dto)->

[2022-01-27 14:14] Wulfheart commented on #11
I think that the ability to transform the response into something else regardless the naming of it should have a more streamlined process than that.
[code]
This is in my opinion pretty much unnecessary boilerplate code.

My main problem is that I'm lacking a clean and concise idea how this could be achieved.
Another idea I had was to allow custom response classes. Something like this:

[code]

I h

[2022-01-27 14:18] yurirnascimento commented on #11
Now, it makes sense to me, I believe you've pointed out a good way to do this now.

[2022-01-27 14:19] Wulfheart commented on #11
Do you want to implement it or may I give it a try?

[2022-01-27 14:25] yurirnascimento commented on #11
I haven't collaborated with this package yet, but maybe this could be useful for me too, maybe it could take a day or two to be able to me, to create a PR. As I said, I also use the Spatie package, this caught my attention to give an opinion.

[2022-01-27 14:25] Sammyjo20 commented on #11
I like the idea of customising the response class. This allows you to define a response class once and not have to keep adding handlers. If you are happy to wait a day or two I'm happy to PR this, but if you are I'd like it to be able to

- If you specify a response on the connector, all requests will use that response
- You can specify a custom response in the request which will overwrite the con

[2022-01-27 16:02] Wulfheart commented on #15
Any concrete idea how the Saloon API should be?

[2022-01-27 17:11] Sammyjo20 commented on #15
Thanks @alexleeelkins!

I like the sound of this. I feel this would work better for the Laravel package of saloon because of the powerful caching and rate limiting you could use there. We could also use a caching plugin like symfony’s one or doctrine? Honestly I don’t have enough experience with caching outside of Laravel.

You could build this using the interceptors and handlers and the API for t

[2022-01-28 01:23] yurirnascimento commented on #11
Hi @Wulfheart

I hadn't seen that you had already done a PR.
I ended up doing adding the functionality as you did.

@Wulfheart You can ignore it if it is not ok.

[2022-01-28 10:37] Wulfheart commented on #11
@yurirnascimento you did more than I did so it’s awesome.

[2022-01-28 14:21] iamniels commented on #11
I was just looking for functionality like this and there are already two PR's :+1:

[2022-01-28 14:43] Wulfheart commented on #11
What a time to be alive. 😉

[2022-01-28 19:14] Sammyjo20 opened #18 "Coming Soon: Caching Plugins for Laravel"
Just wanted to add an issue mentioning that I'm adding support for request caching in Saloon soon. It's going to use the popular Guzzle caching plugin [https://github.com/Kevinrob/guzzle-cache-middleware](https://github.com/Kevinrob/guzzle-cache-middleware) but I'm hoping to extend it slightly.

## Additions

- Adds **ExplicitlyCachesResponses** trait
- Adds **ImplicitlyCachesResponses** trait

##

[2022-01-28 19:32] #11 closed

[2022-01-28 21:14] yurirnascimento opened #19 "Rate limit plugin"
Hi,

Another need of mine is to be able to use a request rate limit, because normally my jobs run for long periods but need to respect the API's request limit.

I'm creating a plugin to use the [Spatie/GuzzleRateLimiterMIddleware](https://packagist.org/packages/spatie/guzzle-rate-limiter-middleware)

Would it be useful to anyone else?

[2022-01-28 21:31] Sammyjo20 commented on #19
Yes, this would be great! I wonder if community made plugins could be released as standalone packages. Is this something you would be up for building?

[2022-01-28 21:35] yurirnascimento commented on #19
This would be a useful plugin for me, so I could mantain it, what do you think?

[2022-01-28 21:37] Sammyjo20 commented on #19
If you are happy to, I would add it to a list of community driven plugins for Saloon.

[2022-01-28 21:43] Sammyjo20 commented on #19
Just a suggestion, it would be cool if the plugin also added two methods to "set" and "get" from a cache, so it would be really easy for Laravel users to hook it up to their Laravel app.

![Screen Shot 2022-01-28 at 21 42 13](https://user-images.githubusercontent.com/29132017/151625581-ff0d5e62-2af2-47e9-b47c-7926018571c3.png)

[2022-01-28 21:58] yurirnascimento commented on #19
I'll probably do something simple, and expose the API for the user to customize as needed.

[2022-01-28 22:03] Sammyjo20 commented on #19
Sounds good. Looking forward to seeing it.

[2022-01-30 07:48] ajthinking opened #23 "Functional success/error handling? [FEATURE SUGGESTION]"
Would it make sense to have callbacks to handle errors, something like in axios?

![image](https://user-images.githubusercontent.com/3457668/151691104-63e954f7-b903-424d-b8ac-c3c92efd7382.png)

[2022-01-30 08:00] ajthinking commented on #23
Found them :D

[2022-01-30 08:00] #23 closed

[2022-01-31 09:22] bobmulder opened #24 "How to handle expectations when testing?"
Hi all!

Saloon is pretty cool! Helps me to integrate API's in a clean way in my Laravel application.

However, I was wondering how to handle expectations when testing. You are able to use mocked responses, but you never know if they are called, how many times, and with which data.

I already understand how to create [fake `MockResponse`s](https://docs.saloon.dev/the-basics/testing-faking-response

[2022-02-02 14:53] Sammyjo20 commented on #19
Just a thought, I need a rate limiter in Laravel, but I'd probably prefer if it threw an exception that I can catch in my job and delay it by X amount of seconds that the API replies with. Maybe that's something to consider in another plugin? Like a back-off plugin that uses Laravel Cache to determine if a rate limit has been exceeded

[2022-02-02 17:46] Sammyjo20 commented on #24
Hi @bobmulder!

Thanks for submitting your issue.

Saloon has a bunch of tests already written to ensure that the mocking is working correctly. It looks like you're using the type of mock that will respond to the specific request if it fails. Perhaps you might need to use the "sequence" test which will respond to the first Saloon request that is made and then is dropped off the list.

Perhaps I co

[2022-02-02 17:48] Sammyjo20 commented on #15
Hi Alex,

Would it be okay if I close this issue for now?

Sam

[2022-02-02 17:55] Sammyjo20 commented on #15
Actually, I’ve been thinking about this. What about this?

I think it would be useful to add various hooks into Saloon which can be added which can be useful for logging. For example I could add a hook before a request has happened, after a request has happened, after a successful response and after a failure response.

This could be added to the connector or the request (or both) and can be used.

[2022-02-02 17:55] Sammyjo20 opened #26 "Saloon Hooks"
I think it would be useful to add various hooks into Saloon which can be added which can be useful for logging. For example I could add a hook before a request has happened, after a request has happened, after a successful response and after a failure response.

This could be added to the connector or the request (or both) and can be used.

There could also be a shouldSendRequest() which can retur

[2022-02-03 13:58] Sammyjo20 opened #27 "SDK-Style API"
Just had an idea for Saloon, wondering if this would be useful.

Currently the only way to trigger requests would be to instansiate the request, but what if there was a "connector" first option too?

For example:

[code]

This means you could construct your own connector and pass it arguments. I don't think it would be a difficult thing to implement, but I think it would be really useful. Not 100%

[2022-02-05 11:14] bobmulder commented on #24
Sorry for the delay @Sammyjo20!

Maybe my explanation wasn't that clear, sorry for that. In my case, the problem is not about having a feature where the same API is called multiple times. In fact, that is exactly what Saloon solves for me, so you have my thanks for that.

I think there are two things I am trying to do:
- Make sure the API call is called
- Make sure what data is passed to the API (

[2022-02-05 14:45] #27 closed

[2022-02-05 16:40] Sammyjo20 commented on #24
Hey Bob, no worries, thanks for explaining this further.

Maybe Saloon can have assert methods on the MockClient/Facade that can be used to check if certain requests have been sent, and maybe check if the specified request data has been sent.

For example:

`Saloon::assertSent(MyRequest::class);`
`Saloon::assertSentWith(MyRequest::class, $data)`

What do you think?

[2022-02-05 16:41] Sammyjo20 commented on #24
Or maybe something like Illuminate/Http, like this?

[code]

[2022-02-06 21:22] Sammyjo20 opened #30 "Coming Soon: Mocking Assertions"
I realised that after I had built the mocking functionality in Saloon, I had forgotten to add assertions for the mocking. Coming soon, you will be able to assert the following things in your tests:

- Assert a request was sent
- Assert data was sent
- Assert a request was sent to a URL.

[2022-02-06 22:17] Sammyjo20 commented on #26
I could also add Laravel events when requests are sending.

[2022-02-07 00:11] Sammyjo20 commented on #24
Hey @bobmulder just wanted to let you know that I'm almost finished adding these features in. Soon you will have access to the following methods:

- AssertSent (accepts request classes, closures and URL patterns)
- AssertNotSent (inverse of assert sent)
- AssertSentJson (accepts a class and an array to check both are equal)
- AssertNothingSent
- AssertSentCount

[2022-02-07 00:16] Sammyjo20 commented on #30
The following expectation methods have been added so far. PR coming soon!

- AssertSent (accepts request classes, closures and URL patterns)
- AssertNotSent (inverse of assert sent)
- AssertSentJson (accepts a class and an array to check both are equal)
- AssertNothingSent
- AssertSentCount

Here's how you can use it

[code]

[2022-02-07 04:37] bobmulder commented on #24
Hi Sam!

I was already preparing a reply by sniffing through the Laravel docs for examples. But your draft is truly amazing!

Personally I like the Laravel `Saloon::assertSent(GetForgeServerRequest::class);` style because it is very close to what Laravel does wit jobs, queues, facades, mailables, et cetera.

Is there anything you want me to do? Since this is open source stuff 😉

[2022-02-07 07:35] Sammyjo20 commented on #24
I’m super happy you like it!

I think it’s pretty much done, I just want to run a few more tests and maybe install it on a local version of Laravel before I publish a release so just sit tight for another day or two!

[2022-02-07 07:52] bobmulder commented on #24
I can handle that ;) Thank you for the effort!

[2022-02-07 17:51] #24 closed

[2022-02-07 18:25] Sammyjo20 opened #32 "Fix AssertSentJson"
I'm aware of an issue with AssertSentJson if there are multiple requests that have been sent using the same Saloon request but with different data.

How to reproduce:
- Send two mock requests
- Use the `AssertSentJson` method to check the data in the second request
- It will fail because it will pull out the first request and check the data against the first match.

[2022-02-09 21:19] yurirnascimento commented on #19
Hi, I'm still on it, I'll be back soon with news.

[2022-02-11 10:43] Sammyjo20 commented on #32
It looks like this bug is across all the assert methods that accept a closure, unfortunately. I need to switch it to loop through and trying to run the assertion on each of the requests rather than trying on the last request and stopping

[2022-02-11 16:24] #32 closed

[2022-02-11 20:12] Sammyjo20 opened #36 "Saloon Fixtures"
So already you can create your own mock responses but it would be really cool if you could create your own "fixtures" for requests.

Ideas
- Define a `fixture()` method on your request that Saloon can use
- Specify `MockResponse::fixture($array)`
- Specify `MockResponse::fixtureFile($jsonFile)`

[2022-02-11 20:13] Sammyjo20 opened #37 "Recording Responses To Use Later"
It would be super cool to be able to record saloon responses that can be used later on in your tests.

Maybe should write a wrapper around https://github.com/dshafik/guzzlehttp-vcr

[2022-02-16 12:56] James4645 opened #38 "Queueing requests in Laravel"
Any chance you could get this to work with Laravel Queues so I can just add ShouldQueue to a request and any time I call it it would be done asynchronously via the queue?

[2022-02-19 12:28] Sammyjo20 commented on #38
That sounds cool, I wanted to incorporate it with queues so it could auto-retry, but you could quite easily wrap a Saloon request in a queued job and then you have the power to handle failures/retry logic yourself.

A built in Saloon version might go against Laravel’s patterns for where queued jobs are stored. If this was a new addition, what features would you like?

[2022-02-20 22:52] James4645 commented on #38
Sure you could wrap it in a Job but that seems overly verbose. For example with a Notification in Laravel it can queue itself without you having to wrap it in a job. I use another package called Laravel-Excel that imports and exports data with Excel and those classes can queue themselves too.

Perhaps if you have complex logic around processing the response it would probably make more sense to use

[2022-02-22 03:26] Braunson commented on #18
This is an awesome plugin, I was about to write my own as I need this for a project. Looking forward to it.

[2022-02-22 07:51] Sammyjo20 commented on #18
Thanks @Braunson. My schedule for the next week is looking quite busy so not sure how much time I'll get to continue working on this but it's pretty much done, I just want to separate it into a separate plugin package and then it will be ready. In the meantime if you wanted to use the caching plugin, install https://github.com/Kevinrob/guzzle-cache-middleware and then add a Saloon handler which ac

[2022-02-28 21:19] WalrusSoup opened #41 "Implementation Docs: Plugin Based Authentication"
This was my approach to implementing plugin based authentication. Hopefully it's not an anti-pattern for how you envisioned Saloon being used. Putting docs here in case they can be brought into the official docs if it's an acceptable solution.

## Plugin Based Authentication

In [release v0.8.0](https://github.com/Sammyjo20/Saloon/releases/tag/v0.8.0) the authentication feature `withToken` was add

[2022-02-28 22:01] Sammyjo20 commented on #41
Thanks so much for writing this up @WalrusSoup. I think you have a really good point about how using "withToken" breaks out of Saloon's pattern of everything being wrapped in objects. I released it because I feel for some people might not be able to easily pass in a token. Maybe I should add it as an optional add-on trait rather than bolting it onto every request?

After seeing it from this angle

[2022-02-28 23:16] WalrusSoup commented on #41
I love that keychain approach (and the name, makes so much sense!).

One reason I used the approach inside the wrapper was it would act as a  class property singleton. Requests new up a connector each time, which could be some load in unexpected places depending on where the dev gets their token.

In the case of Salesforce, Zoom, etc where requests are often `paged` it could mean unnecessarily con

[2022-02-28 23:34] Sammyjo20 commented on #41
Glad you like the idea! I’ve now built two SDKs with Saloon using this approach, you authenticate the SDK with

‘$sdk->authenticate($keychain);’

Which loads it into the SDK to use later in your connector.

To be honest though, I see it being really useful as a way you can nicely transport credentials around the application, especially with your example where you might have different sources. What

[2022-02-28 23:35] Sammyjo20 commented on #41
On a side note, I’m definitely interested in building a nice “Oauth” wrapper around Saloon that people can really easily use to connect to an Oauth 2 service. Quite a lot to process on that though so that’s for another day 😅

[2022-02-28 23:38] Sammyjo20 commented on #41
Ah, I just re-read your message and I like your implementation 👍

I agree with this is probably as far as I would go with Saloon, I don’t want it to be too opinionated but certainly make integrating with APIs easier. This *could* be a plugin that people add, but I’ll have a think.

Thanks for sparking the thought in me, this is a really cool discussion!

[2022-02-28 23:43] Sammyjo20 commented on #41
So here’s a first party idea from this discussion

1. A user can define a Saloon “Keychain” which a class used to find credentials
2. when a connector is booted up, the keychain’s “lookup” method is called (but can be blank)
3. If the lookup method is not called the user is expected to pass in a keychain maybe like this:

Request::make()->authenticate($keychain)->send();

or

Request::make()->with

[2022-03-01 07:32] Sammyjo20 commented on #41
Awesome, I think I might go for this then, here's a class style I've come up with:

[code]

I'm thinking of moving the authentication helpers like withToken to this keychain class in the form of a trait so it's a shortcut to add a bearer token rather than it being on the request and breaking the Saloon pattern

[2022-03-01 16:20] Sammyjo20 commented on #15
I'm going to close this issue for now, but happy to discuss again soon.

[2022-03-01 16:20] #15 closed

[2022-03-01 16:21] #26 closed

[2022-03-04 03:31] eduarguz opened #45 "Looking for an easy way to mock a ConnectException"
Was looking for ways to mock not so common exceptions as `Guzzle/ConnectExceptions`

I think closures could work as in laravel HttpClient

https://laravel.com/docs/9.x/http-client#fake-callback

Also guzzle handlers allow these kind of mocked exceptions

https://docs.guzzlephp.org/en/stable/testing.html#mock-handler

Any ideas?

[2022-03-04 07:57] Sammyjo20 opened #46 "Another method to call requests from connectors?"
Saloon has given people the option to make requests by calling the request class or using the connector by specifying requests in the $requests property on the connector, but I was thinking of another one:

[code]

This gives people the ability to define defaults on the connector while not having to register their request and also get
type-hinting in their IDE.

[2022-03-04 07:59] Sammyjo20 commented on #46
Maybe this should be treated the new "first party" way of sending requests? It allows you to define default data in your constructor like an API token, without needing a keychain.

[2022-03-04 08:05] Sammyjo20 commented on #41
I have implemented this in v9.0, however I'm having second thoughts. What if instead we just introduced a way to send requests easily from the connector rather than the request.

My initial thought of creating the request and then sending it was to keep it simple but sometimes you might want to create the connector so you can pass in authentication tokens into the connector.

I can see the keychai

[2022-03-04 14:14] eduarguz commented on #45
Propossing something like:

[code]

[2022-03-04 18:24] WalrusSoup commented on #46
I think this is ok, but i don't think it's ultimately necessary.

I do see how this is getting a bit complicated, and in the end if kinda feels like code is being moved around and just shifted from place to place. After _really, really thinking about it_, i think the plugin approach is most straight forward and should probably just be titled as the official way to do authorization.

I made an exam

[2022-03-04 20:17] Sammyjo20 commented on #46
Hey, thanks for putting this together - that's super helpful so I appreciate it 🤘 I agree. I want to streamline how Saloon works to make it simpler to use. At the end of the day Saloon was born because configuring Guzzle caused a lot of thinking.

My main concern is that people will put something in the constructor of the connector and then when Saloon tries to boot up the connector, it fails beca

[2022-03-04 20:38] #36 closed

[2022-03-10 22:05] WalrusSoup commented on #41
Going to mark this as closed since we moved it into another issue :bow:

[2022-03-10 22:05] #41 closed

[2022-03-24 08:33] Sammyjo20 commented on #18
Apologies for the delay on this project. Work has become quite busy and I want to put all my time into that for the moment, but I have full hope to be back on Saloon in a few weeks time 🥳

[2022-03-24 15:18] Braunson commented on #18
@Sammyjo20 No need, work pays the bills! 😊

[2022-04-11 08:40] #46 closed

[2022-04-13 12:48] #37 closed

[2022-04-13 18:11] Sammyjo20 commented on #45
Thank you for mentioning this issue. I hadn't considered mocking exceptions but I have now created a PR for them #49 and here's how it will work:

[code]

It will be in the next release 🚀

[2022-04-13 18:39] Sammyjo20 commented on #45
Released in 0.11.0 / 0.12.0 (Laravel)

[2022-04-13 22:23] Sammyjo20 commented on #7
I will convert this into a discussion to move it away from the issues page 🚀

[2022-04-13 22:25] #45 closed

[2022-05-19 03:38] ffoods opened #58 "Make responses return json by default, without having to call send() method"
Currently to call a request and have it return json, it looks like this:

`$response = Connector::getTotalRequest('users')->send()->json()`

I want all requests to return json by default, instead of a `SaloonResponse` object, like so:

`$response = Connector::getTotalRequest('users')`

I tried making a custom response, but it enforces that only a `SaloonResponse` object is returned, but even then

[2022-05-19 07:24] Sammyjo20 commented on #58
There isn't a way to make Saloon return JSON every time without overwriting things.

You could overwrite the `__call` and `callStatic `methods but I don't recommend overwriting the SaloonResponse object since there are lots of useful methods used for debugging and not every request will come back successful.

[2022-05-22 16:56] #58 closed

[2022-06-11 22:31] Sammyjo20 opened #64 "Version 2 is in beta 🤠"
Hey everyone, thanks so much for all the support that you have given for Saloon. I can't believe it's almost at 500 stars on GitHub and receiving over 150 installs a day. I just wanted to take a moment to thank you all! 😀🙌

That being said, there are some good things coming to Saloon. I'm working on version 2, which will help create a road for the future of Saloon, as well as improving developer e

[2022-06-15 18:59] juse-less commented on #64
Hey, @Sammyjo20.
First off - obviously no stress, just wanted to check in. 🙂

How far would you say you've come on this?
Do you happen to have some documentation and/or notes started, that one could possibly look at?

I've just started looking into both Saloon v2 and Spatie's Laravel Data v2.
I'm not really in a hurry right now (waiting for releases before upgrading), but would like to start exper

[2022-06-15 23:03] Sammyjo20 commented on #64
As soon as I have a stable-ish API I’ll try to public v2 alphas / betas for you

[2022-06-15 23:29] juse-less commented on #64
Thanks! That sounds amazing.

The pooling should solve a weird issue we're having with libcurl starting to fail to resolve hosts after ~10 minutes, depending on how quickly we send requests.
The only solution is to restart our Laravel queue workers, or wait for like.. 15-30 minutes before it self-heals (after hundreds of failed Jobs we need to requeue).
I've tried all sorts of settings and configs

[2022-06-16 08:22] Sammyjo20 commented on #64
Very strange! Hopefully the pooling will fix the issue. Did pooling fix the problem when you used Guzzle alone?

It’s my pleasure, thank you!

[2022-06-16 11:00] juse-less commented on #64
I never tried pooling in Guzzle, actually. I just used Laravel's HTTP Client at the time, and quickly tried async requests with Guzzle directly.

The problem seems to be that keep-alive requests are being sent (or at least connection handles not being closed correctly), and the handles remain open, causing the whole process (Laravel's Queue worker) to run out of file handles.
I tried disabling kee

[2022-06-29 16:08] juse-less commented on #64
@Sammyjo20 I think it's ok for now. I appreciate you asked, but I think it's better if you focus on v2. 🙇‍♀️

I apologise for the confusion - what I meant is that I tried with Guzzle as well, but to no avail.
The problem is seemingly that it's opening a new 'file' for each request, and, despite setting libcurl constants (or Guzzle settings) directly in Guzzle, it still didn't fix the underlying is

[2022-06-29 16:15] Sammyjo20 commented on #64
Thanks for the clarification @juse-less ! 🙌

I have some other work commitments I also need to spend my time on so v2 might be a bit longer than my initial 4-6 week estimation, but I'll keep updating this when I have more progress to mention. I'm really happy with how v1 works and I think v1 will be fine for most people for the next few months.

If you have any suggestions for v2 please don't hesi

[2022-06-29 16:29] juse-less commented on #64
I have a few ideas, that I can write down next week, or so, as I have some work commitments myself (started a tight 2 week sprint today even).
v1 is definitely more than enough. Since I can set Guzzle settings through Saloon already, I could possibly solve my issue in v1 as well, if I can just figure out the Guzzle/libcurl settings to apply.

One thing that directly comes to mind, however, when I

[2022-07-16 20:48] brunolanevik opened #73 "Caching GET requests which has query parameters"
I understand that this can be solved by a custom cache key but I think this should either be changed or clarified in the documentation.

Saloon offers cache requests through the use of the Trait "AlwaysCacheResponses". However by default the cache key is not including the URL query parameters. The documentation states that "By default, the cache key will be built up from the full URL of the reques

[2022-07-17 02:07] Sammyjo20 commented on #73
Hey @brunolanevik,

That’s a fair point, it’s because internally, Saloon uses Guzzle’s query config option which does not change the request URL. In v2 this method name has been renamed from getFullRequestUrl to getRequestUrl.

As for the caching though, I can certainly include query parameters as what builds up the default cache key.

[2022-07-17 14:04] #73 closed

[2022-07-19 13:48] shoxton opened #74 "naming typo"
https://github.com/Sammyjo20/Saloon/blob/44fe2d29aba0148f96e5d874e9c6534b1e0c5ca6/src/Managers/RequestManager.php#L327

[2022-07-22 21:17] Sammyjo20 commented on #74
Thanks @shoxton

I get this updated in the next release ;)

[2022-07-22 21:19] #74 closed

[2022-08-06 12:58] bilfeldt commented on #64
Version 1 is awesome - version 2 will be even better I can see 😉 Thanks @Sammyjo20.

The idea about interchangeable HTTP client using PSR-7, PSR-17 and PSR-18 sounds awesome! A good add-on might be adding a compatible driver for the [Laravel HTTP Client](https://laravel.com/docs/9.x/http-client). I know that under the hood this is using Guzzle, but so many things in the Laravel community is build

[2022-08-06 22:59] Sammyjo20 commented on #64
Thanks for the message @bilfeldt that means a lot!

I agree it would be amazing to use the existing tools that wrap around Laravel's HTTP client. I will likely release V2 with just Guzzle support initially since that will make it on-par with version one, but the way it's designed, it would be super easy to write a custom adapter for the HTTP client.

Thanks for the feedback and for enlightening me

[2022-08-11 19:30] abishekrsrikaanth opened #78 "Good place to add validations for requests?"
What is a good place to add validations for requests before they are submitted? For example, a request requires atleast 2 values on an array passed to it. I want to add this validation before the request is submitted and throw an error. What would be a good place to do this?

[2022-08-11 21:34] Sammyjo20 commented on #78
The best place is probably in the “boot” method of the request. That method is run right before the request is made.

Just extend the method from the base SaloonRequest class :)

[2022-08-12 04:52] Sammyjo20 commented on #78
Here is an example

[code]

[2022-08-12 10:40] abishekrsrikaanth commented on #78
Thank you. Appreciate the help. BTW, love the project.

[2022-08-12 10:49] #78 closed

[2022-08-17 15:22] justageek opened #79 "Different grant type for oauth"
Hi, we need to use 'client_credentials' to get an oauth token before every other api call we make to a third party api call.  Well we only need a new token if the previous one has expired, they have a 2 hour life.

Wondering how I can create a custom authenticator so it adds the latest token to every other request we need to make

Thanks,
Brian Smith

[2022-08-19 09:38] hipig opened #80 "I want to record the response of all requests. What should I do"
This is really an excellent package, very useful to me
But I don't know how to record the return result of each request,
Call the `addHandle` method to achieve this?

[2022-08-19 09:48] Sammyjo20 commented on #80
I would create a response interceptor on the connector that is making all of the requests, then you can record every request...

[code]

[2022-08-19 09:49] Sammyjo20 commented on #79
Hey Brian, are you still trying to figure this out?

[2022-08-30 09:44] Sammyjo20 commented on #80
How did that go, @hipig ?

[2022-09-04 18:46] #80 closed

[2022-09-05 16:16] dreammonkey opened #81 "Extend a connector ?"
Hi, I'm trying to extend my connector.
The extended connector implements the AlwaysCacheResponses trait.

But I'm getting the following error (notice: is not a valid.)
`The provided connector is not a valid. The class must also extend SaloonConnector. `

The word also, also feels a bit weird, I do not believe PHP classes can extend multiple classes ?

Question: I this not a valid approach ?

Base

[2022-09-06 09:06] dreammonkey commented on #81
Sorry It was an issue with the namespace of the Cached connector.
Closing.

[2022-09-06 09:06] #81 closed

[2022-09-11 20:44] #79 closed

[2022-09-14 10:55] niladam commented on #64
Hello @Sammyjo20 - and thank you for your package! I've started using it.

I was wondering if you need any help on getting v2 out the door ?

[2022-09-14 12:17] Sammyjo20 commented on #64
Hey @niladam

Thank you for the offer but I'm all good, I am getting there but had to stop because work is so busy at the moment and I think I'd fall apart if I worked extra in the evening 😂

I think V2 is definitely going to be here before the end of the year so hang tight!

I will let you know if I need someone to peer review/help me because that would be very helpful.

[2022-09-29 21:17] guiiamorim opened #84 "Saloon fails to follow redirect while Guzzle does"
Hi, great package!

I'm trying to make a sdk for an API I'm using. I forked the [template](https://github.com/Sammyjo20/saloon-sdk-template) and started building it.

My connector is as follows:

[code]
My Request:

[code]

I've made a test for this request, but it just doesn't work. I tried everything, including configuring the curl options of Guzzle but nothing works.
[code]
However, I made anot

[2022-09-29 21:23] Sammyjo20 commented on #84
Hey!

Thanks for your message, have you tried applying the following Guzzle option to your request config array?

[code]

https://docs.guzzlephp.org/en/stable/request-options.html

[2022-09-30 11:21] guiiamorim commented on #84
I did, and the results are the same.
The `allow_redirects` option is enabled by default btw, you can see it in the second test I posted, which doesn't have any configuration and still works.

One thing that I didn't metioned before is that the route `login/auth` should never be returned. If I pass a invalid API key (or none) it gives me a 400 response, not a login page (which is happening in the f

[2022-09-30 19:05] guiiamorim commented on #84
I'm really embarassed, I've just spent TWO hole days trying to figure this out, but in the end I was sending the requests to the wrong endpoint. The `baseUrl` should contain the path `/api/v3/`, which is present on the Guzzle test, but isn't in my connector. I'm sorry for wasting your time (and mine kkkkkk) and thank you so much for the trying to help me.

[2022-09-30 19:05] #84 closed, assigned to nobody

[2022-09-30 19:41] Sammyjo20 commented on #84
Ohhh no! I hate those scenarios! Glad you sorted it and apologies I would have spent more time looking into it over the weekend. Glad it’s working okay 😀

[2022-10-06 13:50] guiiamorim commented on #78
Hello @Sammyjo20

I know this issue is closed already but I thought is best to discuss here since my doubt is on the same topic.

I am building an SDK with Saloon and trying to validate the data. My approach at the moment is validating on the DTO model since I'm using it to both send the requests and receive the responses.

Since I plan on using this SDK on my projects (which mostly use Laravel) I

[2022-10-06 17:42] Sammyjo20 commented on #78
Hey @guiiamorim

Good question. When I build SDKs I typically assume it's the developer's responsibility to input good data to make it work, and my "validation" is minimal type checking. I like that you want to try and validate it, and if it were me I would try to install illuminate/validation.

You could try installing it using the following article?

https://dailydevsblog.com/troubleshoot/resolv

[2022-10-07 08:27] Gummibeer opened #86 "[v2] Drop illuminate/support requirement"
As already discussed on Twitter - the `illuminate/support` package comes with some handy classes but also a ton of Laravel-specific ones. Requiring it only because of the `Arr` and/or `Str` helpers isn't really "right" and questions the "plain php" nature of that package, as there's a specific Laravel wrapper.

It will also tie this package's versioning to the Laravel lifecycle even if there hasn'

[2022-10-07 08:31] Wulfheart commented on #86
Aren’t there also packages for each of this? So we could just include Collection?

[2022-10-07 08:53] Gummibeer commented on #86
`Collection` is the only standalone one and is also only used for the `collect()` method. This could even be solved by a Composer `suggest` thing as it's a standalone and encapsulated method not used anywhere in the package but only a public shorthand.
https://github.com/Sammyjo20/Saloon/blob/e3f6e19daba415dd4907ada3164b77a44d3ff8f1/src/Http/SaloonResponse.php#L182-L191

And once in the `ProxyRequ

[2022-10-07 10:00] Jimlah commented on #86
@Gummibeer can you assign it to me. I will love to work on it.

[2022-10-07 10:31] Gummibeer commented on #86
@Sammyjo20 will have to assign it - but I won't work on it in that cas. So go ahead! :)

[2022-10-07 13:11] guiiamorim commented on #78
Hi @Sammyjo20

Thank you for the help, I managed to use the validation from Laravel using the article you provided. It's kinda ugly, but since I don't expect other people to use my SDK it doesn't matter that much.

For people trying to do the same thing, I found a gotcha when trying to use Enum validation (I think it applies to all rules instantiated manually, but I didn't test), since it requires

[2022-10-13 16:35] mattiusclay commented on #79
I'd love to use Saloon but it seems the 3rd party API I'm using needs grant_type to be client_credentials for the auth payload.

[2022-10-13 16:42] justageek commented on #79
I was able to figure out a solution to my problem at this time, thanks for asking.

[2022-10-13 21:34] Sammyjo20 commented on #79
Sounds like the extra grant time might be useful! I’m open for discussion on this as I’d like people to have everything they need!

[2022-10-25 16:26] Sammyjo20 commented on #64
Just a little update, I've been starting back up my work for v2! 🙌

I've gone back through my todo list and created a fresh one with all the tasks I want to complete. I will keep the thread updated as progress comes along. My goal is to have it ready before the end of the year, but it may be January when it is released. January would mark Saloon's 1 year anniversary so that would be relevant :D

[2022-10-30 09:24] Sammyjo20 commented on #64
Hello again everyone! I wanted to share with you an update on the progress of v2 as I feel it’s approaching the time where I am not introducing any more breaking changes, but I wanted to ask your opinion on the developer experience and how you will feel with a few breaking changes.

Just wanted to note that V2 is NOT ready to be used, even in an alpha state. I need to rewrite a lot of tests and ba

[2022-10-30 14:58] juse-less commented on #64
Note: I haven't looked through it all just yet, and haven't looked at the progress of the v2 branch.

I have to say, though - I'm liking many of the things I've seen, so far.
The middleware pipeline is gonna be pretty sweet, as I work fairly extensively with first-class callables and invocable classes.

---
At the top of my head, some things I'd love to see is
* More strongly typed code. Preferabl

[2022-11-02 19:29] Sammyjo20 commented on #86
Will be adding these changes to v2 👍

[2022-11-04 00:52] Sammyjo20 commented on #64
Hey @bilfeldt

I'm pleased to announce that Saloon v2 will ship with full support for Laravel's HTTP Client out of the box. By default it will detect that you are using Laravel and it will use send via the HTTP client instead of using Guzzle directly. This is great because you not only get all the power of Guzzle like you did before, but now everything that uses the events for the HTTP client will

[2022-11-04 08:51] bilfeldt commented on #64
Christmas came early this year 🥳

[2022-11-05 21:40] Gummibeer opened #98 "[v2] Add QueryKeyAuthenticator"
Some APIs use a query param based Key authentication. For sure that's possible with a `defaultQuery()` method but somehow feels wrong. So how about a `QUeryAuthenticator` or similar named class with a signature like `new QueryAuth(string $name, string $value)`. 🤔

[2022-11-05 21:59] Sammyjo20 commented on #98
Ooh yeah that could be good! So it just adds a query parameter with the key and value?

[2022-11-05 23:40] Gummibeer commented on #98
Exactly. Wasn't sure about naming but yeah, like `?key=abc123`

[2022-11-06 09:33] Sammyjo20 commented on #98
I can definitely add that in - but I do think defaultQuery on the connector is a good approach too, you would just need to accept the API key through the constructor of the connector.

[2022-11-06 18:16] Gummibeer commented on #98
Yeah, doing it right now that way. But The authenticator feels better. And one question regarding priority.
If I use `defaultQuery()` to define `key=1`, the query authenticator with `key=2` and in the request itself also `defaultQuery()` with `key=3` - which one would be used? My hope would be that the authenticator has priority over both `defaultQuery()` methods - as it explicitly calls `addQuery

[2022-11-06 18:50] Sammyjo20 commented on #98
I think that defaultQuery will take priority over the authenticator unfortunately. This is something that has been looked over a lot in v2 and the authenticator is basically the last thing in v2. Apologies

<img width="1173" alt="Screen Shot 2022-11-06 at 18 49 34" src="https://user-images.githubusercontent.com/29132017/200189385-31e2f82b-3b82-446d-bc7c-e9c5bbb45925.png">

[2022-11-06 20:41] Gummibeer commented on #98
Okay, so right now the change would be (some way) even worse. 😅
But good to know and I think that in V2 an authenticator like that would make sense.

[2022-11-07 10:16] Gummibeer opened #99 "`URLHelper::join()` does not respect full-url in `$endpoint`"
The `\Sammyjo20\Saloon\Helpers\URLHelper::join()` method does not respect a full URL in the `$endpoint` argument but still prefixes it with the `$baseUrl`.
Some APIs have a few endpoints on another base URL/domain. I would like to override the default base URL with a full URL in the request endpoint instead of creating a whole new connector.

The already used `filter_var($endpoint, FILTER_VALIDATE

[2022-11-07 14:00] ashleyhood commented on #99
I agree that if the `\Sammyjo20\Saloon\Helpers\URLHelper::join()` method could check if the `$endpoint` is a correctly formed URL and if so, exit early and return the `$endpoint` as the URL.

This would help me, as at the moment when connecting to the [Xero Accounting API](https://developer.xero.com/documentation/guides/oauth2/auth-flow/) I have to create two connectors. One connector to authorize

[2022-11-07 19:19] #99 closed, assigned to ashleyhood

[2022-11-08 22:45] Sammyjo20 commented on #98
This has now been added to the v2 branch!

[2022-11-08 22:45] #98 closed, assigned to nobody

[2022-11-13 07:01] Sammyjo20 commented on #64
Just an update everyone - I'm going to be tagging a beta release very soon - I want to fix all the broken tests now that the codebase is stable and settling down. I also want to write the docs for v2 with the first beta so you feel comfortable trying it out. This will come within the next 2-3 weeks, it would be good to have some feedback on

- The upgrade guide
- How v2 feels
- Any new ideas

I'm

[2022-11-18 15:58] Gummibeer commented on #64
@Sammyjo20 seems like #101 hasn't found it's way to `v2` yet!?

**it returns all countries**
[code]

[2022-11-18 16:13] Gummibeer commented on #64
Here's a public upgrade PR: https://github.com/Astrotomic/steam-sdk/pull/1
Besides the missing #101 feature everything seems to work.

Was a bit of "useless" renaming and importing because of changed namespaces, method names and so on.
But was still a pretty fast upgrade - would say around ~15-30min without any upgrade guide but simply running `pest` until everything was back green. 🙈

~And it see

[2022-11-18 16:29] Sammyjo20 commented on #64
This is awesome, thanks for sharing @Gummibeer - I am still working on the Laravel side at the moment, v2 branch will currently be very broken since the changing of namespaces.

Glad it was fairly easy to upgrade - most of my steps in the upgrade guide will explain detailed find-and-replace instructions which should fix 90% of the issues.

The other major breaking changes is the use of `headers()`

[2022-11-19 19:13] Gummibeer commented on #64
Accidentally I was still on the v2 branch and fixed a bug in the SDK logic. While doing so I've seen that no fixture file was persisted for a `401 Unauthorized` failing request. 🤔
But this is absolutely right and I would like to have this fixture as well. In v1 even failed requests created a fixture file.
Seems like there's a problem with fixtures if an exception is thrown.

[2022-11-20 13:51] #86 closed, assigned to Sammyjo20

[2022-11-23 00:30] Sammyjo20 commented on #64
@Gummibeer I can't prove it right now, but I'm guessing you're using the `AlwaysThrowErrors` trait? If you are, that is probably the issue; in v2 - plugins are loaded first, and that plugin adds a response middleware to throw an exception - that will be added before the middleware records the response, so it's throwing the error before the fixture.

I believe this may be a v1 issue, too - would yo